<p id="notice"><%= notice %></p>

<p>
  <strong>Primer nombre:</strong>
  <%= @paciente.primer_nombre %>
</p>

<p>
  <strong>Segundo nombre:</strong>
  <%= @paciente.segundo_nombre %>
</p>

<p>
  <strong>Primer apellido:</strong>
  <%= @paciente.primer_apellido %>
</p>

<p>
  <strong>Segundo apellido:</strong>
  <%= @paciente.segundo_apellido %>
</p>

<p>
  <strong>Tipo identificacion:</strong>
  <%= @paciente.tipo_identificacion %>
</p>

<p>
  <strong>Numero identificacion:</strong>
  <%= @paciente.numero_identificacion %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @paciente.genero %>
</p>

<p>
  <strong>Fecha nac:</strong>
  <%= @paciente.fecha_nac %>
</p>

<p>
  <strong>Lugar nacimiento:</strong>
  <%= @paciente.lugar_nacimiento %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @paciente.telefono %>
</p>

<p>
  <strong>Grupo sangre:</strong>
  <%= @paciente.grupo_sangre %>
</p>

<p>
  <strong>Edo civil:</strong>
  <%= @paciente.edo_civil %>
</p>

<%#= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', empresa_pacientes_path %>
