<%= simple_form_for @empresa do |f| %>

<div class="col s12">
<div class="row">
  <div class="input-field col s6">
      <%= f.input :nombre, input_html: { class: 'validate' } %>
  </div>

  <div class="input-field col s6">
      <%= f.input :ruc , input_html: { class: 'validate' } %>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
      <%= f.input :ubicacion, as: :text, input_html: { class: 'materialize-textarea' }   %>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
      <%= f.input :telefono, input_html: { class: 'validate' }  %>
  </div>

  <div class="input-field col s6">
      <%= f.input :email, input_html: { class: 'validate' }  %>
  </div>
</div>
<div class="row">
    <div class="card-action">
        <%= f.button :submit ,class: "btn gradient-45deg-light-blue-cyan gradient-shadow ", data:{"disable-with": "Salvando"}%>
    </div>
</div>
<br />


</div>
<% end %>

