
<%= simple_form_for @empresa do |f| %>
<div class="col s12">
    <div class="input-field col s12">
        <%= f.input :nombre, input_html: { class: 'validate' } %>
  </div>
  <div class="input-field col s12">
      <%= f.input :ruc , input_html: { class: 'validate' } %>
  </div>

  <div class="input-field col s12">
      <%= f.input :ubicacion, as: :text, input_html: { class: 'materialize-textarea' }   %>
  </div>

  <div class="input-field col s12">
      <%= f.input :telefono, input_html: { class: 'validate' } %>
  </div>

  <div class="input-field col s12">
      <%= f.input :email, input_html: { class: 'validate' } %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn waves-effect waves-light' %>
  </div>
</div>
<% end %>
