<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empresa.nombre %>
</p>

<p>
  <strong>Ruc:</strong>
  <%= @empresa.ruc %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @empresa.ubicacion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @empresa.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @empresa.email %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
