<%= javascript_pack_tag "notificacion" %>

<div id="notificacion">
    <notificacion></notificacion>
</div>


<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre:</strong>
  <%= @empresa.nombre %>
</p>
<p>
  <strong>Ruc:</strong>
  <%= @empresa.ruc %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @empresa.ubicacion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @empresa.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @empresa.email %>
</p>
<br>
<div class="divider"></div>
<br>
<div class="row">
    <%= link_to edit_empresa_path(@empresa), class: "waves-effect waves-light btn gradient-45deg-indigo-light-blue" do %>
    <i class="fa fa-pencil"></i> Editar
    <% end %>
    <%= link_to empresas_path , class: "waves-effect waves-light btn gradient-45deg-purple-deep-orange" do%>
    <i class="fa fa-undo"></i> Volver
    <% end %>

</div>

