<!DOCTYPE html>
<html>
  <head>
    <title>SoasiFinal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <%= render "layouts/loader"%>
      <%= render "layouts/top"%>
      <%= render "layouts/sidebar"%>
      <%= render "layouts/content"%>
      <%= render "layouts/footer" %>
    <%= yield %>
  </body>
</html>
